.mainCont {
    display: flex;
    width: 100%;
    height: 100vh;
}

.leftH {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/block.jpg');
  background-size: 100%;
  background-position: relative;
  background-attachment: local;
  color: white;
  text-align: center;
  height: 100%;
  padding: 20px;
  background-color: #1c1c1e;
  box-shadow: 20px 0 40px rgba(105, 4, 4, 0.3);
}

.rightH {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black;
  background-color: #ffffff;
}

.bt {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.bt:hover {
  background-color: #555;
}

.verticalDivider {
  width: 0px;
  background-color: black;
  height: 100%;
}

@media (max-width: 768px) {
  .mainCont {
    flex-direction: column;
    padding: 10px;
  }

  .leftH {
    margin-bottom: 20px;
  }

  .rightSection h1 {
    font-size: 2rem;
  }

  .button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
