/* ROOT COLORS */
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* BODY RESET */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* ROOT CONTAINER */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* SPINNER */
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}